<h2 class="text-center mt-2"><%= @user.username %>'s profile</h2>

<%= gravatar_for @user, size: 100%>

<div class = "text-center mt-4">
  <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info"%>
</div>

<h3 class="text-center mt-4">Articles</h3>

<div class = "flickr_pagination mb-2">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article', obj: @user.articles %>

<div class = "flickr_pagination mb-2">
  <%= will_paginate @articles, :container => false %>
</div>